body{
        font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#icon{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
   
}

#icon i{
    border: 1px solid red;
    border: none;
    border-radius: 50%;
    width: 39px;
    height: 6vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#info i{
       color: #f16821;
       
}

#info{
    padding-top: 0.6%;
}


.navbar{
    background-color:white;
    border: 1px solid red;
    border: none;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
   
}

.logo{
    padding-left: 5%;
    
    
}

.navdiv{
   margin-left: 22%;
   font-weight: 600;
}

.navdiv ul li{
    padding: 10px 13px;
    
    
}

@media (max-width:989px){
    .navdiv{
   margin-left: 0%;
}
}

.navdiv ul li a:hover{
    color:#f16821;
}

.navdiv ul li a{
    color: black;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(images/hero_2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 96vh;
}


#button1{
    padding: 13px 30px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 0.9rem;
    font-weight: 900;
    
    border-radius: 3px;
    transition: all 0.4s ease;
}

#button1:hover{
   background-color: white;
   color: black;
}

#button2{
    padding: 13px 30px;
    background-color:white;
    color: black;
    font-size: 0.9rem;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 3px;
    transition: all 0.4s ease;
}

#button2:hover{
   background: transparent;
   color: white;
}

#heading{
    padding-top: 11% !important;
    padding-left: 6%;
}

@media (max-width:989px){
 #heading{
    padding-top: 30% !important;
    
}


.circle{
    margin-left: 37% !important;
    
}

.circle2{
    margin-left: 37% !important;
    
}

.circle3{
    margin-left: 37% !important;
    
}


}

.maincontainer{
    border: 1px solid red;
    border: none;
    padding-bottom: 5%;
    width: 100%;
    
  
}



.imgbox{
    border: 1px solid green;
    border: none;
    width: 100%;
    position: relative;
    overflow: hidden;
     
   
}

.imgbox img{
    
    transition: transform 0.5s ease;
}

.borderbox{
    border: 3px solid #f16821;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5.5%;
    visibility: hidden;
     opacity: 0;
    transition: opacity 0.4s ease;

}

.maincontainer:hover .imgbox img{
    transform: scale(1.2);
    
}


.maincontainer:hover .borderbox{
    visibility: visible;
    opacity: 1;
   
}




#button3{
    padding: 6px 25px;
    background-color:black;
    color: white;
    font-size: 0.7rem;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 3px;
    transition: all 0.4s ease;
}

#button3:hover{
   background: white;
   color: black;
}


#button4{
    padding: 6px 25px;
    background-color:white;
    color: black;
    font-size: 0.7rem;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 3px;
    transition: all 0.4s ease;
}

#button4:hover{
   background: black;
   color: white;
}



.updates{
    height: 70vh;
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(images/hero_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 9%;
    
}


@media (max-width:430px){
    .updates{
    padding-top: 57%;
}
   
.butt{
    margin-left: 30% !important;
}

.btnn{
    margin-left: 2% !important;
}

.butt2{
    margin-left: 30% !important;
    margin-top: 10% !important;
}

.updates2{
    padding-top: 33% !important;
}

.circle{
    margin-left: 25% !important;
    
}

.circle2{
    margin-left: 25% !important;
    
}

.circle3{
    margin-left: 25% !important;
    
}
}

#input{
    padding: 10px 7px ;
    width: 43%;
    font-style: italic;
    background: transparent;
    border: 2px solid white;
    outline: none;
    
}

.button5{
    text-transform: uppercase;
    color: white;
    background: transparent;
     padding: 10px 7px ;
       border: 2px solid white;
       font-weight: 800;

}


.mini{
    border: 1px solid red;
    border: none;
    position: absolute;
        bottom: -10px;
    right: -10px;
    background: #46ddb0;
    padding: 20px;
    color: white;
}

.mini h2{
    font-weight: 800;
    font-size: 2.8rem;
}


.mini p{
    text-transform: uppercase;
    font-size: 1.1rem;
}




.updates2{
    height: 100vh;
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(images/hero_2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 9%;
    
}

.box1{
   
    background-color: white;
     padding: 13px 27px;
     border-radius: 12px;
}

.box1 p{
    color: #46ddb0;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
  
}

.box1 span{
    color: #adb5bd;
     text-align: center;
}


.circle{
    border: 1px solid red;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(images/person_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.circle2{
    border: 1px solid red;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(images/person_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.circle3{
    border: 1px solid red;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(images/person_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hover p:hover{
    color: black !important;
}


footer i:hover{
  color: black !important;
}


